[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytesseract = "*"
easyocr = "*"
transformers = "*"
python-doctr = "*"
rapidfuzz = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
